.page-header
  %h2 定期的な収支計画一覧

%table.table.table-condensed
  %tbody
    %tr
      %th 開始日と間隔
      %th カテゴリ
      %th 収支計画
    - @regular_plans.order(:start_date).each do |plan|
      %tr
        %td= interval_string(plan)
        %td= plan.category
        - if plan.amount > 0
          %td.info= plan.amount
        - else
          %td.danger= plan.amount

// = link_to 'New Regular plan', new_regular_plan_path
