= form_for @property_fix_history, url: {controller: :property_fix_histories, action: @property_fix_history.persisted? ? :update : :create}, html: { class: "form-horizontal"} do |f|
  .form-group
    %label.col-lg-2.control-label 新しい資産
    .col-sm-6
      = f.text_field :new_property, class: 'form-control', required: true
  .form-group
    %label.col-lg-2.control-label 適用日
    .col-sm-6
      = f.text_field :fixed_date, class: 'form-control', required: true, id: "picker_fixed_date"

  = f.submit @property_fix_history.persisted? ? "更新" : "作成", class: 'btn btn-primary'
