.page-header
  %h1 カテゴリ一覧

%table.table.table-condensed
  %thead
    %tr
      %th 名前
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= link_to 'Edit', edit_user_category_path(category)
        %td= link_to 'Destroy', user_category_path(category), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Category', new_user_category_path
